<%= @latitude %>
<%= @longitude %>


 <div id="map"></div>
 <script>
 
var map = L.map('map').setView([<%= @latitude %>, <%= @longitude %>],14);
 
L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
    maxZoom: 18
}).addTo(map);

L.control.scale().addTo(map);
L.marker([30.718, -5.347], {draggable: true}).addTo(map);
L.marker([30.7, -5.3], {draggable: true}).addTo(map);
var popup = L.popup()
    .setLatLng([<%= @latitude %>, <%= @longitude %>])
    .setContent("This photo was taken here.")
    .openOn(map);
 </script>
