<div class="container">
    
  <header class="header">
  	<h1>WELCOME TO GEOTAGME</h1>
  </header>

  <div class="content">
    <section id="map" class="section map">
        
        <script>

            var map = L.map('map').setView([<%= @photos[0].geolocation.longitude %>, <%= @photos[0].geolocation.latitude %>],5);
 
			L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
			    maxZoom: 18
			}).addTo(map);

            L.control.scale().addTo(map);

            <% @photos.each do |photo| %>
			   L.marker([<%= photo.geolocation.longitude %>, <%= photo.geolocation.latitude %>], {draggable: false}).addTo(map);
			<% end %>
          
	   </script>

   
    </section>
    
        
    <aside class="relations">
        <ul id="photo_carrusel">

			<% @photos.each do |photo| %>
			   <li><%= photo.photo_timestamps %></li>
			   <img src=<%= photo.url %> class="thumbnail" />
			<% end %>       

        </ul>
    </aside>        
   </div>

   <footer class="footer">
   </footer>
</div>

<style>

      .thumbnail{
        width: 150px;
        height: auto; 
      }
      .container {
        width: 940px;
        margin: 0 auto;
      }
      .header {
        height: 50px;
        margin-bottom: 40px;
      }
      .footer {
        height: 100px;
        clear:both;
      }
      .content {
        margin-bottom: 40px;
        position: relative;
      }
      .content:before {
        content:"";
        position: absolute;
        width: 1px;
        background: black;
        height: 100%;
        right: 320px;
      }
      .content:after {
        content: "";
        display: block;
        clear: both;
      }
      .section {
        float: left; 
        width: 600px;
        height: 500px;
      }
      .relations {
        float: right; 
        width: 300px;
        height: 200px;
      }
    </style>

